.black-gradient {
    background: rgb(0, 0, 0);
    background: url("@site/static/img/clean-gray-paper.png"),
        linear-gradient(
            128deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 65, 1) 88%,
            rgba(89, 88, 93, 1) 100%
        );
    color: azure;
}

.black-border {
    border-left: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.black-outline {
    outline: 2px solid rgb(0, 0, 0);
}

.yellow-gradient {
    background: rgb(134, 113, 67);
    background: url("@site/static/img/clean-gray-paper.png"),
        linear-gradient(
            128deg,
            rgba(134, 113, 67, 1) 0%,
            rgba(176, 157, 72, 1) 88%,
            rgba(195, 174, 80, 1) 100%
        );
    color: azure;
}

.yellow-border {
    border-left: 2px solid rgb(134, 113, 67);
    border-right: 2px solid rgb(134, 113, 67);
    border-bottom: 2px solid rgb(134, 113, 67);
}

.yellow-outline {
    outline: 2px solid rgb(134, 113, 67);
}

.gray-gradient {
    background: rgb(113, 108, 104);
    background: url("@site/static/img/clean-gray-paper.png"),
        linear-gradient(
            128deg,
            rgba(113, 108, 104, 1) 0%,
            rgba(142, 141, 142, 1) 88%,
            rgba(186, 186, 186, 1) 100%
        );
    color: azure;
}

.gray-border {
    border-left: 2px solid rgb(113, 108, 104);
    border-right: 2px solid rgb(113, 108, 104);
    border-bottom: 2px solid rgb(113, 108, 104);
}

.gray-outline {
    outline: 2px solid rgb(113, 108, 104);
}

.teal-gradient {
    background: rgb(33, 70, 79);
    background: url("@site/static/img/clean-gray-paper.png"),
        linear-gradient(
            128deg,
            rgba(33, 70, 79, 1) 0%,
            rgba(36, 94, 114, 1) 88%,
            rgba(139, 135, 133, 1) 100%
        );
    color: azure;
}

.teal-border {
    border-left: 2px solid rgb(33, 70, 79);
    border-right: 2px solid rgb(33, 70, 79);
    border-bottom: 2px solid rgb(33, 70, 79);
}

.teal-outline {
    outline: 2px solid rgb(33, 70, 79);
}

.orange-gradient {
    background: rgb(151, 91, 55);
    background: url("@site/static/img/clean-gray-paper.png"),
        linear-gradient(
            128deg,
            rgba(151, 91, 55, 1) 0%,
            rgba(187, 116, 50, 1) 88%,
            rgba(205, 124, 72, 1) 100%
        );
    color: azure;
}

.orange-border {
    border-left: 2px solid rgb(151, 91, 55);
    border-right: 2px solid rgb(151, 91, 55);
    border-bottom: 2px solid rgb(151, 91, 55);
}

.orange-outline {
    outline: 2px solid rgb(151, 91, 55);
}

.red-gradient {
    background: rgb(113, 36, 35);
    background: url("@site/static/img/clean-gray-paper.png"),
        linear-gradient(
            128deg,
            rgb(187, 1, 1) 0%,
            rgb(238, 1, 1) 88%,
            rgba(228, 144, 65, 1) 100%
        );
    color: azure;
}

.red-border {
    border-left: 2px solid rgb(113, 36, 35);
    border-right: 2px solid rgb(113, 36, 35);
    border-bottom: 2px solid rgb(113, 36, 35);
}

.red-outline {
    outline: 2px solid rgb(113, 36, 35);
}

.eggplant-gradient {
    background: rgb(91, 65, 101);
    background: url("@site/static/img/clean-gray-paper.png"),
        linear-gradient(
            128deg,
            rgba(91, 65, 101, 1) 0%,
            rgba(107, 71, 131, 1) 88%,
            rgba(151, 100, 185, 1) 100%
        );
    color: azure;
}

.eggplant-border {
    border-left: 2px solid rgb(91, 65, 101);
    border-right: 2px solid rgb(91, 65, 101);
    border-bottom: 2px solid rgb(91, 65, 101);
}

.eggplant-outline {
    outline: 2px solid rgb(91, 65, 101);
}

.green-gradient {
    background: rgb(55, 80, 29);
    background: url("@site/static/img/clean-gray-paper.png"),
        linear-gradient(
            128deg,
            rgba(55, 80, 29, 1) 0%,
            rgba(55, 80, 29, 1) 88%,
            rgba(106, 158, 53, 1) 100%
        );
    color: azure;
}

.green-border {
    border-left: 2px solid rgb(55, 80, 29);
    border-right: 2px solid rgb(55, 80, 29);
    border-bottom: 2px solid rgb(55, 80, 29);
}

.green-outline {
    outline: 2px solid rgb(55, 80, 29);
}
