.warscroll-header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.stat-card {
  width: 7rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--faction-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.stat-header {
  padding: 0.5rem;
  text-align: center;
  background: url("@site/static/img/clean-gray-paper.png"), var(--faction-color);
  color: azure;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

.stat {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 575px) {
  .warscroll-header {
    padding: 0.25rem;
    gap: 0.25rem;
  }

  .stat-card {
    font-size: 0.75rem;
    width: 5rem;
    gap: 0.5rem;
  }
}

