.warscroll-abilities {
  display: flex;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
}

.ability {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-auto-rows: min-content;
  margin-bottom: 2rem;
  min-width: 15rem;
}

.note {
  margin-bottom: 2rem;
  min-width: 10rem;
  max-width: 45%;
}
