.ability-header {
  position: relative;
  color: azure;
  padding: 0.5rem;
  grid-column: 1 / 4;
  display: flex;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
}

.ability-icon {
  height: 1.5rem;
  margin-right: 0.5rem;
}

