.warscroll-abilities {
    display: flex;
    padding: 1em;
    gap: 2rem;
}

.abilities-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.abilities-right {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.ability {
    display: grid;
    grid-template-columns: 20px auto 20px;
    margin-bottom: 2rem;
}