.ability-header {
  position: relative;
  color: azure;
  padding: 0.5rem;
  grid-column: 1 / 4;
  display: flex;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
}

.ability-icon {
  height: 1.5rem;
  margin-right: 0.5rem;
}

.chantingValue {
  transform: rotate(45deg);
  background: linear-gradient(
    45deg,
    rgba(0, 184, 169, 0.7),
    /* #00b8a9 with 0.7 opacity */ rgba(248, 97, 90, 0.7)
      /* #f8615a with 0.7 opacity */
  );
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  position: absolute;
  height: 3.5rem;
  width: 3.5rem;
  top: -1rem;
  text-align: center;
  vertical-align: middle;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.chantingValue::before {
  content: attr(data-content);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.commandValue {
  background: linear-gradient(
    45deg,
    rgba(210, 180, 140, 0.3),
    /* Tan */ rgba(245, 222, 179, 0.3) /* Wheat */
  );
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  border: none;
  position: absolute;
  height: 4rem;
  width: 4rem;
  top: -1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  backdrop-filter: blur(10px);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.castingValue {
  background: linear-gradient(
    45deg,
    rgba(52, 152, 219, 0.7),
    /* #3498db with 0.7 opacity */ rgba(155, 89, 182, 0.7),
    /* #9b59b6 with 0.7 opacity */ rgba(231, 76, 60, 0.7)
      /* #e74c3c with 0.7 opacity */
  );
  background-size: 200% 200%;
  animation:
    gradientAnimation 5s ease infinite,
    pulse 2s infinite;
  border-radius: 50%;
  position: absolute;
  height: 4rem;
  width: 4rem;
  top: -1rem;
  text-align: center;
  vertical-align: middle;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
