.warscroll-weapons {
  flex: 1;
  padding: 1rem;
  padding-right: 7rem;
  width: 100%;

  --weapon-tr: #c4c5b1;
}

[data-theme="dark"] .warscroll-weapons {
  --weapon-tr: #3a3b2f;
}

.weapon-center {
  text-align: center;
}

.fl-table {
  font-weight: normal;
  width: 100%;
  border: none;
  white-space: nowrap;
  border-radius: 0.25rem;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.fl-table td,
fl-table th {
  padding: 4px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.fl-table thead th {
  padding: 4px;
  width: 100%;
  background: url("@site/static/img/clean-gray-paper.png"), var(--faction-color);
  text-align: center;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #fff;
}

.fl-table tr:nth-child(even) {
  background: var(--weapon-tr);
}

@media (max-width: 575px) {
  .fl-table {
    font-size: 0.75rem;
  }
  .warscroll-weapons {
    padding-right: 1rem;
  }
}
